* {
  box-sizing: border-box;
  background-color: aqua;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

aside {
  height: 100%;
  width: 200px;
  position: fixed;
  overflow: auto;
  display: block;
}

.container {
  padding: 10px;
}

.block {
  display: block;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  text-decoration: none;
}
