* {
  box-sizing: border-box;
  background-color: aqua;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

aside {
  height: 100%;
  width: 200px;
  position: fixed;
  overflow: auto;
  display: block;
}

.container {
  padding: 10px;
}

h2 {
  font-size: 40px;
}

.block {
  display: block;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

section {
  padding: 10px;
}

h3 {
  font-size: 20px;
}

p {
  display: block;
}

article {
  padding: 10px;
}

h4 {
  font-size: 20px;
}

.work-image {
  display: flex;
  border: 5px;
  max-height: 150px;
  min-height: 150px;
  padding: 10px;
}

footer {
  padding: 10px;
}

h5 {
  font-size: 20px;
}

.led-wall {
  background-image: url(../images/02-portfolio-1.jpg);
}

.portfolio-2 {
  background-image: url(../images/02-portfolio-2.jpg);
}

.portfolio-3 {
  background-image: url(../images/02-portfolio-3.jpg);
}

.portfolio-4 {
  background-image: url(../images/02-portfolio-4.jpg);
}

.run-buddy {
  background-image: url(../images/02-run-buddy.jpg);
}
